{% extends 'base.html' %}

{% block title %}Email Templates{% endblock %}

{% block content %}
<head>
    <title>Upload Recipients</title>
</head>
<body>
    <h1>Upload Recipients</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.csv_file.label_tag }}<br>
        {{ form.csv_file }}<br><br>
        <button type="submit">Upload</button>
    </form>
</body>
{% endblock %}
