{% extends 'base.html' %}

{% block title %}Email Templates{% endblock %}

{% block content %}
<h1>Email Templates</h1>
<html>
<head>
    <title>Create Email Template</title>
</head>
<body>
    <h1>Create Email Template</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_name">Name:</label><br>
            {{ form.name }}
        </p>
        <p>
            <label for="id_subject">Subject:</label><br>
            {{ form.subject }}
        </p>
        <p>
            <label for="id_body">Body:</label><br>
            {{ form.body }}
        </p>
        <button type="submit">Save Template</button>
    </form>
</body>
{% endblock %}
