asgiref==3.8.1
crispy-tailwind==1.0.3
Django==5.1.2
gunicorn
django-crispy-forms==2.3
django-crontab==0.7.1
sqlparse==0.5.1
psycopg2-binary>=2.8
django-encrypted-model-fields==0.6.5
cryptography==41.0.7
django-ratelimit==4.1.0
bleach==6.1.0
dnspython>=2.0
